
<head>
    <%- include('partials/header'); %>
</head>
<%- include('partials/main_nav') %>
<!-- this should be the login page-->

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
  </main>
  
<%- include('partials/bottom_nav') %>  

<%- include('partials/footer') %>